 {% extends "base.html" %} {% block title %} MayLancers {% endblock title %} {% load static %} {% block main %}
<div class="bgc" style=" background-image: url(' {% static 'img/bgi.jpg' %} ');">

    <div class="searchbox container py-5">

        <h2 class="py-4 text-white text-center h1 jone">Find Talent For Every Field:</h2>

        <h4 class="text-white text-center  jone">If you feel I'm the right person to help you achieve your success as a make-up freelance, begin now.
            <h4>

                <!--<form action="/search" method="post" class="form">
            {% csrf_token %}
            <div class="input-group">

                <input required name="text" type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="">
                <div class="input-group-append">
                    <button class="btn primary-bg bt text-white " type="submit"><span class="fa fa-search"> </span> Search</button>

                </div>
            </div>
        </form>-->

                <div class="container text-center my-5">
                    <a href="/jobs">
                        <button class="btn btn-lg primary-bg text-white rounded-0   "><b>Hire Freelancer</b></button>
                    </a>
                    <a href="/jobs">
                        <button class="btn btn-lg btn-outline-light mx-4 my-2 text-white rounded-0 "><b>Work as Freelancer</b></button>
                    </a>
                </div>

                <div class="container text-center text-white my-4 rounded-0 pj">
                    {% comment %} <a href="post_job"><button class="btn primary-bg btn-lg"><span class="fa fa-edit" style=> </span> Post Job</button></a> {% endcomment %}



                </div>


    </div>


</div>
</div>



<!-- cards -->
<!-- <div class="container card_main ">
    <div class="row ">
        <div class="col-md-3 justify-content-center">

            <div class="card  m-0 p-0" style="border: solid 2px #f5069d ; border-top-right-radius: 0px; border-top-left-radius: 0px; border-top: none ;">
                <div class="card-body ">
                    <img src="{% static 'img/card/Painter.jpg' %} " class="img border-0 p-0">
                    <h2 style="margin-top:20px;">
                        Painter
                    </h2>
                    <p class="card-text"><b>Find Painters nearby you</b></p>
                    <a href="#" class="btn sub">  Find </a>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card  m-0 p-0" style="border: solid 2px #f5069d ; border-top-right-radius: 0px; border-top-left-radius: 0px; border-top: none ;">
                <div class="card-body ">
                    <img src="{% static 'img/card/mechanic.jpg' %} " class="img border-0 p-0">
                    <h2 style="margin-top:20px;">
                        Mechanic
                    </h2>
                    <p class="card-text"><b>Find Mechanics nearby you</b></p>
                    <a href="#" class="btn sub"> Find </a>
                </div>
            </div>

        </div>



        <div class="col-md-3">

            <div class="card  m-0 p-0" style="border: solid 2px #f5069d ; border-top-right-radius: 0px; border-top-left-radius: 0px; border-top: none ;">
                <div class="card-body ">
                    <img src="{% static 'img/card/designer1.jpg' %} " class="img border-0 p-0">
                    <h2 style="margin-top:20px;">
                        Designer
                    </h2>
                    <p class="card-text"><b>Find Designer nearby you</b></p>
                    <a href="#" class="btn sub"> Find </a>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card  m-0 p-0" style="border: solid 2px #f5069d ; border-top-right-radius: 0px; border-top-left-radius: 0px; border-top: none ;">
                <div class="card-body ">
                    <img src="{% static 'img/card/doctor.jpg' %}" class="img border-0 p-0">
                    <h2 style="margin-top:20px;">
                        Doctor
                    </h2>
                    <p class="card-text"><b>Find Doctors nearby you</b></p>
                    <a href="#" class="btn sub"> Find </a>
                </div>
            </div>

        </div>
    </div>
</div> -->

<!--

<div class="container-fluid card-main "style=" background: white;">
 <div class="row">


    <div class="col-md-3 text-center  boxed text-white" style="background-color: #ff3001c7; ">
       <a href="/jobs"> <h4 class="h4 my-2"> Hire Freelancer <span class="mx-3 fa fa-arrow-right fa-sm"> </span></h4></a>

    </div> 

    <div class="col-md-3 text-center  boxed " style="background-color: white;">
        <a href="/profile"> <h4 class="h4 my-2" style="color: blue;"> Work as Freelancer <span class="mx-3 fa fa-arrow-right fa-sm"> </span></h4></a>

    </div>

    <div class="col-md-3 text-center  boxed text-white" style="background-color: green; ">
        <a href="/post_job"> <h4 class="h4 my-2"> Post a Job <span class="mx-3 fa fa-arrow-right fa-sm"> </span></h4>
</a>
    </div>

    <div class="col-md-3 text-center  boxed text-white" style="background-color: #41464b; ">
        <a href="categories"><h4 class="h4 my-2"> All Categories <span class="mx-3 fa fa-arrow-right fa-sm"> </span></h4>
</a>
    </div>

 </div>

</div>

<style >
    .boxed{
        height: 55px;
        font-family: 'Jockey One';
        padding: 3px;
    }
    a{
        text-decoration: none;
        color: white;
    }
</style>-->

<!-- 
<div class="container card_main ">

    <div class="row">
        {% for h in cat %} {% if forloop.counter0|divisibleby:4 %}
    </div><br>
    <div class="row">
        {% endif %}
        <div class="col-md-3 text-center my-2">
            <a href="/category/{{h.title}}" style="text-decoration: none; color:black">
                <div class="card  " style="border: solid 2px #f5069d ; border-top-right-radius: 0px; border-top-left-radius: 0px; border-top: none ;">
                    <div class="card-body ">
                        <img src="{{h.thumbnail.url}} " class="img border-0 p-0">
                        <h2 style="margin-top:20px;">
                            {{h.title}}
                        </h2>
                        <p class="card-text"><b><span class="fa fa-map-marker" style="color:#f5069d"> </span>  {{h.location}}</b></p>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div> -->


<!-- cards -->

<div class="container card_main " ">

    <div class="row ">
        {% for h in cat %} {% if forloop.counter0|divisibleby:4 %}
    </div><br>
    <div class="row ">
        {% endif %}
        <div class="col-md-3 text-center my-2 ">
            <a href="/category/{{h.title}} " style="text-decoration: none; color:black ">
                <div class="card " style="border: solid 2px #f5069d ; border-top-right-radius: 0px; border-top-left-radius: 0px; border-top: none ; ">
                    <div class="card-body ">

                        

                        <img src="{{h.thumbnail.url}} " class="img border-0 p-0 ">

                        <h2 style="margin-top:20px; ">
                            {{h.title}}
                        </h2>
                        <p class="card-text "><b><span class="fa fa-map-marker " style="color:#f5069d "> </span> {{h.location}}</b></p>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

           


<br>


<div class="container text-center my-4 ">
    <h2 style=" font-family:Concert One ';"> Recently Added Posts</h2>
</div>


<div class="container rpost">

    <div class="container">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>

    </div>


    <div class="container my-4  ">

        {% for i in post %}
        <div class="row my-3" style="box-shadow: 5px 5px 8px 5px #888888; padding: 25px;">
            <div class="col imgcol">
                {% if i.thumb %}
                <img src="{{i.thumb.url}}" class="rounded float-left " alt="...">
                {% endif %}

                

            </div>
            <div class="col-6">
                <h2>{{i.title}}</h2>
                <p>{{i.desc}}</p>

                <p><span class="fa fa-user"> </span> {{i.user}}</p>
                <button class="btn btn-secondary btn-sm">{{i.cat}}</button>
            </div>
            <div class="col">
                <b><p><span class="fa fa-map-marker"> </span> {{i.loc}}</p></b>

                <b>Amount:</b>
                <br>

                <b>From : Rs. {{i.afrom}} /-</b>
                <br>
                <b>To : Rs. {{i.ato}} /-</b> {% if i.done is True %}

               <button class="btn btn-danger rounded-0 w-100 my-3"> Closed</button>
                {% else %}
                <a href="apply/{{i.title}}/{{i.id}}"> <button class="btn primary-bg text-white rounded-0 w-100 my-3"> Apply</button></a>
                {% endif %}


            </div>
        </div>
        {% endfor %}

    </div>

</div>


<div class="container  mpost ">

{% for i in post %}
<div class="row my-3" style="box-shadow: 5px 5px 8px 5px #888888; padding: 25px;">

    <div class="card-body">
        {% if i.thumb %}
        <img src="{{i.thumb.url}}" class="rounded " alt="thumbnail" style="width: 100%; height: 170px;">
        {% else %}
        <img src="{% static 'def.png '%}" class="rounded " alt="thumbnail" style="width: 100%; height: 170px;">

        {% endif %}
    
         <h2>{{i.title}}</h2>
         <p>{{i.desc}}</p>
        <div class="row">
            <div class="col">
                         <p><span class="fa fa-user"> </span> {{i.user}}</p>
        
         <p><span class="fa fa-map-marker"> </span> {{i.loc}}</p>
          <button class="btn btn-secondary btn-sm p-0 p-0" style="margin-top: -8px;">{{i.cat}}</button>



            </div>
            <div class="col">
                                <b>Amount:</b>
                <br>

                <p>From : Rs. {{i.afrom}} /-</p>
                
                <p>To : Rs. {{i.ato}} /-</p>

            </div>
        </div>


    </div>

    <div class="card-footer">
     {% if i.done is True %}

               <button class="btn btn-danger  rounded-0  w-100 my-3"> Closed</button>
                {% else %}
                <a href="apply/{{i.title}}/{{i.id}}"> <button class="btn primary-bg text-white rounded-0 w-100 my-3"> Apply</button></a>
                {% endif %}          
    </div>
    
</div>

{% endfor %}

</div>

<p class="text-center"><a href="/jobs" style="color: blue;"> See More... </a></p>

<br>


<div class="container text-center my-2">
    <h2 style=" font-family:Concert One'; "> All Categories</h2>
</div>




<div class="container my-4 ">

    <form class="form-group fmr " method="post " action="/post_rate ">
        <textarea required class="form-control " placeholder="Write Your Valuable Message.. " name="msg "></textarea>
        <input type="hidden " class="form-control " placeholder=" " name="user " value="{{user}} ">
{% csrf_token %}

        <label class="col-md-2 control-label " for="rating ">Give us Rating</label>

        <select required class="form-control " name="rating " id="rating ">
            <option value="5 ">5 Stars</option>
            <option value="4 ">4 Stars</option>
            <option value="3 ">3 Stars</option>
            <option value="2 ">2 Stars</option>
            <option value="1 ">1 Stars</option>

        </select>

        <center>
            <button type="submit " class="btn btn-outline-dark my-3 btr ">Submit Review</button>
        </center>
    </form>

</div>


<div class="container text-center my-4 cmt ">

    <h3 style=" ">Ratings and Reviews</h3>


</div>

<style>

</style>

<div class="container cmtd ">
    
    <div class="row ">
        {% for i in rate %} {% if forloop.counter0|divisibleby:2 %}
    </div><br>
    <div class="row ">
        {% endif %}
        <div class="col-md-6 my-2 ">
            <div class="card ">
                <div class="card-body ">
                    <div class="row ">
                        <div class="col-2 ">
                            <span class="fa fa-user user-profile "></span>
                        </div>
                        <div class="col-6 ">
                            <h3>{{i.user}}</h3>
                        </div>
                        <div class="col-4 ">
                        
                            <strong class="h5 ">{{i.star}}</strong>
                            <span class="fa fa-star "></span>
                         
                        </div>

                    </div>


                    <p class="p mx-5 justify-content ">{{i.msg}} </p>

                </div>
            </div>
        </div>


        {% endfor %}



    </div>
</div>




<div class="container cmtm ">



    <div class="row ">
        {% for i in rate %} {% if forloop.counter0|divisibleby:2 %}
    </div><br>
    {% endif %}
    <div class="row ">
        <div class="col-md-6 my-2 ">
            <div class="card ">
                <div class="card-body ">

                    <div class="user ">

                        <span class="fa fa-user uml "></span>


                        <span class="h3 mx-3 ">{{i.user}}</span>

                    </div>

                    <div class="star mx-5 ">
                        <strong  class="h5 ">{{i.star}}</strong>
                        <span class="fa fa-star "></span>
                        
                      
                    </div>

            





                    <p class="p mx-5 justify-content ">{{i.msg}}... </p>



                </div>
            </div>
        </div>
</div>
{% endfor %}
</div>
{% comment %} <br>
<center>
    <a href="# " style="text-decoration: none; "> See More Reviews...</a>
</center>
<br> {% endcomment %}


<div class="container text-center ">
    <h2 style=" font-family:Concert One ';"> How does freelancing work?</h2>
</div>

<div class="container text-center" style="box-shadow: 5px 5px 8px 5px #888888; padding: 25px; font-size: smaller;">
    <p class="list-inline">
        Freelancers accept payment in return for providing some sort of service. That agreement is generally part-time or short term.
        <br>

       For example, if I hired a photographer to take new headshots for me, I could pay a freelancer for that session and that would be the end of it.
       <br>
     Sometimes people pay freelancers to work a set number of hours per week or per month. That arrangement is often referred to as a “retainer.”
     <br>

    A retainer refers to when you retain the services or right to someone’s time. A lot of legal professionals work on retainer. Every month, they bill 
    <br>
        a set amount of time to the client, regardless of whether that full time is used or not.
        A retainer refers to when you retain the services or right to someone’s time. A lot of legal professionals work on retainer. Every month, they bill a set amount of time to the client, regardless of 

</p>
</div>


<style>
    .user-profile {
        font-size: 35px;
        margin-left: 40px;
        margin-top: 3px;
    }
    
    .uml {
        font: size 10px;
    }
    
    .cmt {
        color: rgb(255, 255, 255);
        background-color: rgb(255, 0, 162);
        height: 40px;
        width: 300px;
    }
    
    .fa-star {
        font-size: 20px;
        margin-top: 10px;
        color: #8c6801;
    }
    
   .btr:hover {
        background-color: #0079ebcb;
    }
     
    .fmr {
        background-color: aliceblue;
        padding: 40px 40px 2px 40px;
        border-radius: 10px;
    }
    
   .form-control {
        background-color: aliceblue;
    } 
    
    .cmtd {
        display: block;
    }
    
    .cmtm {
        display: none;
    }
    
    @media screen and (max-width: 600px) {
        .fa-user {
            font-size: 20px;
            margin-left: 50px;
            margin-top: 0px;
        }
        .cmtd {
            display: none;
        }
        .cmtm {
            display: block;
        }
    }
</style>

<br/>


<style>

    .card_main {
    margin-top: -70px;
}

    .mpost{
        display: none;
    }

     @media  screen and (max-width: 900px) {
       .mpost{
        display: block;
    }
    .rpost{
        display: none;
    }
    }
    .rpost img {
        max-width: 90%;
    }
    
    @media  screen and (max-width: 900px) {
        .imgcol {
            display: none;
        }
    }
</style>




{% endblock main %}