{% extends "base.html" %} {% block titile %} prfile {% endblock titile %} {% block main %}


<div class="profile">
    <div class="profile-header">

        <div class="profile-header-cover"></div>

        <div class="profile-header-content">

            <div class="profile-header-img">
                <img src="1.jpg" alt="">
            </div>

            <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">Viraj kore</h4>
                <p class="m-b-10">Frontend Developer</p>
                <a href="#" class="btn btn-sm btn-info mb-2">Edit Profile</a>
            </div>

        </div>

        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="#profile-post" class="nav-link active show" data-toggle="tab">POSTS</a></li>
            <li class="nav-item"><a href="#profile-about" class="nav-link active show" data-toggle="tab">ABOUT</a></li>
            <li class="nav-item"><a href="#profile-photos" class="nav-link active show" data-toggle="tab">PHOTOS</a></li>
            <li class="nav-item"><a href="#profile-videos" class="nav-link active show" data-toggle="tab">VIDEOS</a></li>
            <li class="nav-item"><a href="#profile-friends" class="nav-link active show" data-toggle="tab">FRIENDS</a></li>
        </ul>

    </div>
</div>


<p>

    {% if user.is_authenticated %}Hello, {{ user.username }} .{% endif %}

</p>
{% endblock main %}