{% extends "base.html" %} {% block title %} Register|MayLancer {% endblock title %} {% block main %}
<div class="container my-3">

    <form method="post" action="/register" style="padding:20px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input required type="text" name="uname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Set User Name ex. User@123 ">

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input required type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" name="pwd" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input required type="text" name="fname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name ">

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input required type="text" name="lname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last First Name ">

        </div>

        <button type="submit" class="btn primary-bg text-white my-2">Register</button>
    </form>
</div>
{% endblock main %}